	 *
 	{
		margin:0;
		padding:0;
	}
	.wrapper
	{
		margin:auto;
		width:940px;
	}
	#header
	{
		font-family:Myriad Pro;
		background-color: #ffffff;
		line-height: 18px;
		font-size: 16px;

	}	
	.clear
	{
		clear:both;
		float: none;

	}
	a.logo
	{
		float: left;
		margin-right:43px;
		margin-top: 6px;
		background-image: url("../images/logo_ramoji.png");
		background-repeat: no-repeat;
		width: 140px;
		height: 32px;
	}
	.navigation 
	{
		float: left;
		list-style-type: none;
		margin-top: 18px;
		margin-bottom: 19px;

	}
	.navigation li
	{
		float: left;
		margin-right: 30px;
	}
	.navigation a
	{
		display: block;
		
		color: #000000;
	}
	.social
	{
		float: right;
		list-style-type: none;
		margin-left: 25px;
		margin-top: 15px;
	}
	.social li 
	{
		float: right;
		margin-right: 5px;
	}
	.facebook
	{
		
		background-image: url("../images/facebook2.png");
		background-repeat: no-repeat;
		width: 15px;
		height: 15px;
	}
	.circle
	{
		border-radius: 25px;
		width: 19px;
		background-color: #000;
	}
	a
	{
		text-decoration:none;
		font-weight:bold;	
	}
	.search
	{
		
		border-radius: 5px;
		margin-top: 12px;
		width: 202px;
		height: 31px;
		padding: 0px 30px 0px 2px;

	}
	.searchImage
	{
		
		position: absolute;
		background-image: url("../images/search_icon.png");
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		right:10px;
		top:20px;
	}
	.searchBox
	{
		float: right;
		position: relative;

	}
	.searchBox ul a
	{
		margin:0px;
	}
	#banner
	{
		background-color: #000;
		color: #ffffff;

	
	}
	.bannerText
	{
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	.banner_image
	{
		position: relative;
		background-image: url("../images/banner_image.jpg");
		background-repeat: no-repeat;
		width: 1100px;
		height: 545px;

	}
	#events
	{
		background-color: #ecab1f;
		margin-bottom: 66px;
		color: #222222;

	}
	#events span
	{
		float: right;
		padding-top: 15px;
	}
	.rectangles 
	{	
		float: left;
		width: 200px;
		height:55px;
		border-radius: 8px;
		border: 2px solid #ffffff;
		background-color: #ffffff;
		color: black;
		font-size: 22px;
		margin: 20px 15px 20px 0px;
		line-height: 55px;
		padding: 5px;

	}
	
	#events ul
	{
		float: left;
	}
	#events li
	{
		float: left;
		list-style-type: none;
	}
	#contents
	{
		background-color: #ffffff;
		font-family:Myriad Pro;
		color: #ffffff;
	}
	#contents h2
	{
		float: left;
		color: #888888;
		font-size: 40px;
		margin-bottom: 16px;
	}
	#contents h3
	{
		margin-bottom: 20px;
	}
	#events img
	{
		float: right;
		
		margin-left: 20px;
	}
	#contents ul
	{
		float: left;
	}
	#contents li
	{
		float: left;
		list-style-type: none;
		margin-left: 10px;
		width:300px;
		background-color: #4466ff;
	
	}
	#contents p
	{
		line-height: 16px;
	}
	#contents li:first-child
	{
		margin-left: 0px;
	}
	.imageContents
	{
		padding-top: 20px;;
		padding-left: 10px;
		padding-bottom: 25px;
	}
	#footer
	{
		background-color: #f1f1f1;
		margin-top: 71px;
		padding-top: 29px;
		font-weight: normal;
		font-size: 14px;
		color: #666666;
		
		box-shadow:1px -5px 14px #dadada; 
	}
	.footerLists
	{
		float: left;
		margin-left: 28px;
	}
	.footerLists h4
	{
		margin-bottom: 15px;
		
	}
	.footerLists ul
	{
		margin-bottom: 27px;
	}	
	.footerLists li
	{
		width: 165px;
	}
	#footer div:first-child
	{
		margin-left: auto;
	}
	#footer li
	{
		list-style-type: none;
		line-height: 20px;
	}
	#footer a
	{
		color: #656;
	}
	#footer a:hover
	{
		color: #39b1ee;
	}
	.bottomlist li 
	{
		
		width:165px;
		
	}
	.bottomlist ul
	{
		float: left;
	}
	.bottomlist div
	{
		float: left;
		margin-left: 28px;
	}
	
	.footerBorder
	{
		padding-bottom: 28px;
		border-bottom:  1px solid #000;
		margin-bottom: 20px;
	}
	.footerNavigation
	{
		width: 550px;
		margin: auto;
		padding-bottom: 14px;
	}
	.footerNavigation li
	{
		float: left;
		list-style-type: none;
		border-left: 1px solid #aaaaaa;
	}
	.footerNavigation ul
	{
		float: left;
		
	}
	.footerNavigation a
	{
		padding: 0px 8px 0px 8px;
		color: #000;
		
	}
	.footerNavigation li:first-child
	{
		border-left: none;
	}
	.copyright
	{
		margin: auto;
		width: 260px;
		font-size: 14px;
		line-height: 20px;
	}
	a:hover
	{
		color: #39b1ee;
	}