
nav
{
    line-height:30px;
    background-color:#eeeeee;
    height:900px;
    width:300px;
    float:left;
    padding:5px;	      
}
section
{
    width:700px;
    float:left;
    padding:10px;	 	 
}

