    *
 	{
		margin:0;
		padding:0;
	}
	.wrapper
	{
		margin:auto;
		width:940px;
	}
	#header
	{
		font-family:Arial,Helvetica,sans-serif;
		background-color: #444444;
		line-height:50px;			
	}	
	a.logo
	{
		float: left;
		margin-right:54px;
		margin-top: 9px;
		background-image: url("../images/artforth_logo.png");
		background-repeat: no-repeat;
		width: 140px;
		height: 32px;
	}
	#navigator li
	{
		float: left;
		display: block;
	}

	.leftBorder
	{
		border-left: solid 2px;
		border-color: #333333;
		display: block;
	}
	a:hover
	{	
		color: #71c3e9;
	}
	#navigator a:hover
	{
		color:#71c3e9;
	}	
	#navigator li a
	{
		color: #aaaaaa;
		border-right: solid 2px;
		border-color: #333333;
		display: block;
		padding: 5px 26px;
	}
	#navigator ul
	{
		float: left;
		color: #efefef;
	}
	#banner
	{
		font-family:Arial,Helvetica,sans-serif;
		color: white;
		margin-bottom: 64px;
		font-size: 21px;
	}
	#banner a
	{
		display: block;
	}
	.image
	{
       	background-image: url("../images/banner_pattern.png");
    	background-repeat: repeat;
	}
	a
	{
		text-decoration:none;
		font-weight:bold;	
	}
	.bannerImage
	{
		float: right;
	}
	a:active
	{
		color:black;
	}
	.bannerContent
	{
		float: left;
		padding-top: 150px;
	}
	.buttons a
	{
		float: left;
		padding: 3px 22px;
		border-radius: 4px;
		
		margin-right: 21px;
		background-color: white;
		text-align: center;
		color: black;
		line-height: 47px;
		font-size: 14px;
	}
	.joinButton a
	{	
		padding: 3px 40px;
		background-color: #ff9900;
		color: white;
	}
	.bodyPara
	{
		font-size: 33px;
		color: #444444;
		text-align: center;
		font-weight:bold;
		margin-bottom: 50px;
	}
	.circleText
	{	
		text-align:center;
		float:left;
		
	}
	#banner h2
	{
		font-weight: normal;
		margin-bottom: 48px;
	}
	#bodyContent
	{
		font-family:Arial,Helvetica,sans-serif;
	}
	#bodyContent a
	{
		display: block;
	}
	#bodyContent li
	{
		float: left;
		display: inline;
		width:175px;
		text-align: center;
		margin-right: 60px;
	}
	#bodyContent ul
	{
		float: left;
	}
	.circles
	{
		width: 140px;
		height: 140px;	
		border-radius: 70px;	
		background-color: #efefef;
		margin:auto;
		margin-bottom: 25px;
	}
	.circleImages
	{
		padding: 39px;
		box-sizing: border-box;
	}
	.clear
	{
		clear:both;
		float: none;

	}
	#footer
	{
		margin-top:150px;
		height: 150px;
		background-color: #efefef;
		color:black;
		box-shadow:0px -1px  3px #888888;
		padding-top: 10px;
	}
	#footer li
	{
		float: left;
		list-style-type: none;
	}
	.footerBorder
	{
		border-left: solid 2px;
		border-color: #aaaaaa;
		display: block;
	}
	.color
	{	
		line-height:70px;
		color:#ff9900;
		
	}
	.social
	{	
		float:right;
		margin-top:15px;
		margin-right:10px;
	}
	.social li
	{
		margin-right:10px;
	}
	.footerNavigation
	{
		float: left;
	}
	.footerNavigation li
	{
		margin-right:10px;
	}
	.footerTerms a 
	{
		
		list-style-type: none;
		color: #afafaf;
		margin-left: 10px;
		margin-right:10px;
	}
	.footerTerms a:hover
	{
		color:#71c3e9;
	}
	ul.footerTerms 
	{
		float: left;
	}
	.footerText
	{
		float: left;
		margin-right: 74px;
		color: #afafaf;
	}

	